<div class="container home-page">
  <div class="row">
    <mat-card>
      <mat-card-content>
        <div class="row center">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <h3 class="bold">Employees</h3>
            <p>There are {{ employeeCount !== 0 ? employeeCount : '0' }} employees</p>
          </div>
          <mat-form-field appearance="outline" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <input matInput type="text" [(ngModel)]="query" placeholder="Search" />
          </mat-form-field>
          <button mat-raised-button (click)="showDialog()" class="col-xs-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 app-button">Add Employee</button>
        </div>
  
      </mat-card-content>
    </mat-card>

    <div class="row">
      <app-employee-detail *ngIf="employeeCount !== 0; else noEntries"></app-employee-detail>
      <ng-template #noEntries class="container">
        <div class="row no-entries center">
          <img src="../../../assets/media/Icon.JPG" class="custom-image" alt="No Entries" />
          <p class="center">There is nothing here</p>
          <p class="center">Create a new employee by clicking the New Employee button to get started</p>
        </div>
      </ng-template>
    </div>

  </div>
</div>
